<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQbNHXuntQq8UJN0Z5Mo0q8kBWZXS0O4E</string>
	<key>GCM_SENDER_ID</key>
	<string>47512341921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modeloMvvm</string>
	<key>PROJECT_ID</key>
	<string>modelomvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>modelomvvm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47512341921:ios:cac2482d092d9004f50fe0</string>
</dict>
</plist>